<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jordansitkin.scrob</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/scrob/scrob</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>12</integer>
    </dict>
    <key>LowPriorityIO</key>
    <true/>
</dict>
</plist>
